/*** selectores por etiqueta***/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
    color:white;
    font-size: 3rem;
}
nav{
    background-color: chartreuse;
    height: 2rem;
    display:flex;
    justify-content: flex-end;
    align-items: center;

}
/*** selectores de clase***/

.subtitle1 {
  color: blue;
  font-size: 2rem;
}
.subtitle2 {
  color: purple;
  font-size: 2rem;
}

.name {
    color:black
}
.main-img {
    width: 25rem;
}
/*** selectores por id***/

#section1 {
    background-color:cadetblue;
    max-width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
/*** selectores por relacion***/

nav a {
    color:white;
    margin-right: 1rem;
}